node_modules
dist/
bundle/
.vim
.neonctl
.eslintcache
.vscode
.idea
.neon
coverage
tmp/

src/commands/bootstrap/next-drizzle-authjs/package-lock.json
src/commands/bootstrap/next-drizzle/package-lock.json